streamlit==1.32.0
requests==2.31.0
tiktoken==0.5.1
openai==1.30.0
langchain==0.1.16
faiss-cpu==1.7.4
google-generativeai==0.4.1
PyMuPDF==1.23.7
unstructured==0.12.6
python-dotenv==1.0.1
langchain-community==0.0.37
langchain_google_genai==0.0.5
numpy==1.23.5
seaborn==0.12.2
ktrain==0.41.4
gdown==4.7.1
tensorflow==2.12.0
keras==2.12.0